

.nav{
    text-decoration: none;
    height: 35px;
    margin-top: 18px;
    transition: all 0.2s ease-in-out 0.05s;
}

@media screen and (min-width:768px){
    .nav{
        margin: 0px;
        width: 100px;
        padding:0px;
    }
}

.nav:hover{
    background-color: rgb(31, 31, 35);
}

.active{
    background-color: rgb(102, 99, 99);
}